body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.start {
  padding: 40px 15px;
  text-align: center;
}

ul.success li, ul.info li, ul.error li{
	margin:10px;
	padding:10px;
	text-align: center;
	border: 1px solid transparent;
	border-radius:5px;
	list-style: none;
}

ul.success li{
	color: #474845;
	background-color: #98fd9a;
}

ul.error li{
	color: #474845;
	background-color: #f74d4d;
}

ul.info li{
	color: #474845;
	background-color: #a3bcff;
}
